@charset "utf-8";

/*      CSS reset::YUI 3.6.0 (20130312)
-----------------------------------------------------------------------*/
body, div,dl, dt, dd, ul, ol, li,h1, h2, h3, h4, h5, h6,pre, code,form, fieldset, legend, input, textarea,p, blockquote,th, td { margin: 0; padding: 0; vertical-align: baseline; vertical-align: bottom\9; }
body { background: #fff; line-height: 1; -webkit-text-size-adjust: none; } /* -webkit-...消除chrome的最小字型限制 */
html, body { height: 100%; text-align: center; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset, img { border: 0; }
address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal; }
ol, ul { list-style: none; }
caption, th { text-align: left; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
abbr, acronym { border: 0; font-variant: normal; }
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }
input, textarea, select { font-family: inherit; font-size: inherit; font-weight: inherit; *font-size: 100%;}

a, a:link, a:active, a:visited {
    text-decoration: none;
    vertical-align: baseline;
    vertical-align: bottom\9;
    outline: none; /* ff 消除虛線框*/
    blur: expression(this.onFocus=this.blur()); /* ie消除虛線框 */
}
a:focus {
    outline: none;
    -moz-outline-style: none; /* ff 消除虛線框 */
}


/*      basic elements
-----------------------------------------------------------------------*/
body {
    background: url('../images/bg.jpg') repeat-x;
    font: normal 0.813em/140% Arial,sans-serif;
}

a {
    color: #4A7894;
    transition: color 0.5s;
}

    a:hover {
        color: #C1272D;
    }

p {
    margin-bottom: 10px;
    /*text-indent: 2em;*/
}

h4 {
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

strong {
    font-size: 16px;
    font-weight: bold;
    color: #0C2C3B;
}
cite {
    color: #C1272D;
    font-weight: bold;
}

input, textarea {
    border: 1px solid #D5D5D5;
    padding: 3px 5px;
}

form .size-s {
    width: 45px;
}

form .size-l {
    width: 300px;
}

button, .btn {
    background: #0C2C3B;
    border: 1px solid #ccc;
    color: #eee;
    font-size: 13px;
    font-weight: bold;
    padding: 8px 30px;
    cursor: pointer;
    -moz-transition: background .5s ease;
    -o-transition: background .5s ease;
    transition: background .5s ease;
}

    button:hover, .btn:hover {
        color: #eee;
        background: #C1272D;
    }

/*      Generic Classes
-----------------------------------------------------------------------*/
.full { width: 100%; } /* 寬度100% */
.half { width: 48%; } /* 寬度49% */
.valignM { vertical-align: middle; } /* 垂直置中 */
.floatL { float: left; } /* 文繞圖-左 */
.floatR { float: right; } /* 文繞圖-右 */
.align-c { text-align: center; } /* 水平置中,文字置中 */
.align-l { text-align: left; } /* 向左對齊 */
.align-r { text-align: right; } /* 向右對齊 */
.clearfix { clear: both; } /* 清除浮動 */
.error { color: #D50000; } /* 錯誤時顯示 */
.hide { display: none; visibility: hidden; } /* 隱藏 */

.btn {
    display: inline-block;
    cursor: pointer;
}

    .btn:hover {
    }

.text-list { list-style: decimal outside; margin-left: 20px;}
.text-list li { margin: 5px 0; }